.header {
    align-items: center;
    background-color: #039be5;
    border-radius: 4px;
    box-shadow: 0px 1px 8px #A0A0A0;
    display: flex;
    height: 80px;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    width: 100%;
}

.text {
    align-items:  center;
    color: #f5f5f5;
    display: flex;
    font-size: 26pt;
    font-weight: bold;
    height: 100%;
    padding: 0 15px;
    text-decoration: none;
    width: 95%;
}