.email-box {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
    border-color: #F4D35E;
}

.password-box {
    position: absolute;
    top: 35%;
    left: 10%;
    width: 80%;
    border-color: #F4D35E;
}
