.comment-tab {
    height:100%;
    font-family: Noto Sans CJK JP;
    font-size: 12pt;
    margin-right: 5%;
    color: #0692c3;
}

.comment-tab:hover {
    color: #000000;
}

.comment-tab:active {
    color: #000000;
    z-index: 1;
}

.selected-comment-tab {
    color: #000000;
    z-index: 1;
    font-weight: bold;
    height:100%;
    margin-right: 5%;
    font-family: Noto Sans CJK JP;
    font-size: 12pt;
}
