.picture-column {
    width: 10%;
    height: 100%;
    justify-content: center;
    padding: 1% 0% 0 1%;
    box-sizing: content-box;
}

.public-content-column {
    height: 100%;
    width: 90%;
    box-sizing: content-box;
}

.private-content-column {
    height: 100%;
    width: 90%;
    box-sizing: content-box;
    background-color: #fcb43d;
}

.incident-comment-container {
    border: solid 1px gainsboro;
    width: 100%;
    height: 20%;
    border-radius: 5px;
    margin-top: 0.5%;
    display:flex;
    flex-direction: row;

}